.rjcc-wrapper
{
	float		: left;
	border		: 1pt black solid;
	font-family	: sans-serif;
}

.rjcc-wrapper table
{
	border-collapse	: collapse;
	border-spacing	: 0;
}

.rjcc-arrow-left, .rjcc-arrow-right
{
	font-weight		: bold;
	border			: 1pt #569 solid;
	border-top		: 1pt transparent solid;
	border-left		: 1pt #abf solid;
	height			: 10pt;
	line-height		: 10pt;
	background		: #78b;
	color			: #000;
	text-decoration	: none;
	margin			: 1pt 0;
	padding			: 0 3pt;
	display			: block;
}
.rjcc-arrow-left:hover, .rjcc-arrow-right:hover
{
	background		: #abf;
}

.rjcc-arrow-left
{
	float	: left;
}

.rjcc-arrow-right
{
	float	: right;
}

.rjcc-year, .rjcc-month
{
	margin		: 0;
	padding		: 0;
	height		: 14pt;
	text-align	: center;
}

.rjcc-year
{
	background		: #89c;
}
.rjcc-month
{
	background		: #abe;
}

.rjcc-day
{
	font-size	: 9pt;
	padding		: 3pt;
}

.rjcc-week:nth-child(even)
{
	
	background:#eef;
}
